@import "../../global.scss";
.container {
  background-color: #f8f8f8;
  padding: 20px 14px;
  .content {
    padding: 24px 38px 0;
    height: auto;
    background-color: #fff;
    border-radius: 20px;

  }
}